#slider a
{
    font-weight: bold;
}

#slider a:hover
{
    text-decoration: none;
}

#slider #slides {
    display: none
}

#slider .container {
    margin: 0 auto
}

/* For tablets & smart phones */
@media (max-width: 767px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
    #slider .container {
        width: auto
    }
}

/* For smartphones */
@media (max-width: 480px) {
    #slider .container {
        width: auto
    }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
    #slider .container {
        width: 724px
    }
}

/* For larger displays */
@media (min-width: 1200px) {
    #slider .container {
        width: 1170px
    }
}

#slider body {
    -webkit-font-smoothing: antialiased;
    font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #232525;
    padding-top:70px;
}

#slider #slides {
    display: none
}

#slider #slides .slidesjs-navigation {
    margin-top:3px;
}

#slider #slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
}

#slider #slides .slidesjs-next {
    margin-right: 5px;
    float: left;
}

#slider .slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}

#slider .slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

#slider .slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(img/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

#slider .slidesjs-pagination li a.active,
#slider .slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

#slider .slidesjs-pagination li a:hover {
    background-position: 0 -26px
}




#slider .navbar {
    overflow: hidden
}